.failing-system pre {
    color: #111;
    margin-left: 2em;
    white-space: pre-wrap;
    width: 75em;
}

.failing-system pre strong {
    color: red;
}
    
li.new-failure {
    font-weight: bold;
    color: red;
}

a.source-link {
    font-weight: normal;
    text-decoration: none;
    color: #999;
}

span.source-location {
    font-weight: normal;
    text-decoration: none;
    color: #999;
}

a.source-link:hover {
    text-decoration: underline;
    color: black;
}
